.weapons {
    display: grid; /* 使用 CSS Grid 佈局 */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* 依容器寬度自動排版：每個欄位最小寬度為200px，最大可拉伸到 1fr（填滿剩餘空間），auto-fit 會自動填滿並壓縮空格，使欄位數自動增減 */
    gap: 30px; /* 欄位間距 */
    padding: 50px; /* 每格內邊距 */
    font-size:20px;
    align-items: start; /* 垂直置頂對齊每個卡片(各別控制高度)*/
}

.weapons article {
    max-width: 200px;
    margin: 0 auto;
}

.weapons img {
    display:block;  
    width: 100%;
    border-radius: 12px; 
    margin: 0 auto;
    padding: 0px;
   
}

.weapons p {
    padding-top: 15px;
    font-size: 15px;
}

.weapons h2 {
    font-size: 25px;
    margin:10px 0 10px 0;
}

