:root {
  --bg: #ffffff;
  --text: #000000;
  --border-color: #000000; 
}

html[data-theme="dark"] { /* 暗黑主題 */
  --bg: #121212;
  --text: #f0f0f0;
  --border-color: #f0f0f0;
}

.logo {
    display: inline-block;
    width: 100px;
    margin: 0 auto 30px;
    padding: 0;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

body {
    background: var(--bg); 
    color: var(--text);
    font-family: Arial, sans-serif; /* 設定字體 */
    transition: all 0.3s ease; /* 平滑過渡效果 */
    padding: 10px; /* 增加內邊距，避免內容緊貼邊緣 */
    text-align: center;
    
}


.character-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    padding: 50px;
    font-size: 20px;
    align-items: start;
}

.character-grid article {
    max-width: 200px;
    margin: 0 auto;
}

.character-grid img {
    width: 100%;
    display: block;
    border-radius: 12px;
    margin: 0 auto;
    padding: 0px;
}

.character-grid h2 {
    font-size: 25px;
}

.character-grid p {
    font-size: 15px;
}


/* 滑鼠互動效果 */
.card:hover {
    transform: translateY(-8px) scale(1.03);
}

/* 統一卡片的顏色以及內部的直向置中與等距排版 */
.card {
    background: var(--bg);
    color: var(--text);
    border-radius: 15px;
    padding: 15px;
    border: 5px solid #999; /* 預設邊框 */
    border-color: rgb(255, 211, 91);
    --bg: rgb(80, 80, 80);
    --text: #ffffff;
    box-shadow: 0 0 10px #ff7b00;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    display: flex;
    flex-direction: column;
    align-items: center;   /* 水平置中所有內容 */
    text-align: center;    /* 文字置中 */
    
}

.card img {
    width: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
}




    /* 各自設定顏色才用的方法一 */
/* .character-grid > .character-item:nth-child(1) {
    border-color: #ff6b6b;
    background-color: #fff4f4;
    color: #8b0000;
    box-shadow: 0 0 10px #ff6b6b;

}
.character-grid > .character-item:nth-child(2) {
    border-color: #ffd93d;
}
.character-grid > .character-item:nth-child(3) {
    border-color: #c300ff;
}
.character-grid > .character-item:nth-child(4) {
    border-color: #00d9ff;
}
.character-grid > .character-item:nth-child(5) {
    border-color: #21277e;
} */



/* 各自設定顏色才用的方法二
.card.fire {
    border-color: #ff6b6b;
    --bg: #fff4f4;
    --text: #8b0000;
    box-shadow: 0 0 10px #ff6b6b;
}

.card.eagle {
    border-color: #ffd93d;
    --bg: #fffbea;
    --text: #8b8000;
    box-shadow: 0 0 10px #ffd93d;
}

.card.flame {
    border-color: #8a76c0;
    --bg: #a98bbb;
    --text: #2a035e;
    box-shadow: 0 0 10px #bcb1db;
}

.card.ice {
    border-color: #277083;
    --bg: #8ea1c4;
    --text: #0041a1;
    box-shadow: 0 0 10px #277083;
}

.card.wolf {
    border-color: #3c4596;
    --bg: #ffffff;
    --text: #494949;
    box-shadow: 0 0 10px #3c4596;
} */

.card h2 { 
    color: rgb(255, 187, 0); 
    margin: 10px 0 20px 0;
    }

.card h2,
    .card p {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.25s ease, opacity 0.25s ease;
    }

.card:hover h2,
    .card:hover p {
        max-height: 600px; /* 展開最高600px展示內容 */
        opacity: 1; /* 透明度變回100%顯示內容 */
    }

.card p {
  margin: 0;
  text-align: justify; /*文字對齊*/
  text-justify: inter-character; /* 中文對齊方式 */
  line-height: 1.7; /* 行距 */
  font-size: 15px; /* 字體大小 */
  font-family: "Noto Sans TC", sans-serif; /* 字體 */
  white-space: normal; /* 確保沒有奇怪的保留空白 */
}